In [45]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, ExtraTreesRegressor
from sklearn.model_selection import GridSearchCV,cross_validate
import re
import operator
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.svm.libsvm import cross_validation
from sklearn.model_selection import KFold
from sklearn.model_selection import KFold
#Print you can execute arbitrary python code
train = pd.read_csv("/Users/HSE/coursework/github/DL_DemographicStudies/titanic/train.csv", dtype={"Age": np.float64}, )
test = pd.read_csv("/Users/HSE/coursework/github/DL_DemographicStudies/titanic/test.csv", dtype={"Age": np.float64}, )

target = train["Survived"].values
full = pd.concat([train, test])
print(full.head())
print(full.describe())
print(full.info())

full['surname'] = full["Name"].apply(lambda x: x.split(',')[0].lower())

full["Title"] = full["Name"].apply(lambda x: re.search(' ([A-Za-z]+)\.',x).group(1))
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 2, "Mme": 3,"Don": 9,"Dona": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}
full["TitleCat"] = full.loc[:,'Title'].map(title_mapping)

full["FamilySize"] = full["SibSp"] + full["Parch"] + 1
full["FamilySize"] = pd.cut(full["FamilySize"], bins=[0,1,4,20], labels=[0,1,2])

full["NameLength"] = full["Name"].apply(lambda x: len(x))

full["Embarked"] = pd.Categorical(full.Embarked).codes

full["Fare"] = full["Fare"].fillna(8.05)

full = pd.concat([full,pd.get_dummies(full['Sex'])],axis=1)

full['CabinCat'] = pd.Categorical(full.Cabin.fillna('0').apply(lambda x: x[0])).codes

# function to get oven/odd/null from cabine 
def get_type_cabine(cabine):
    # Use a regular expression to search for a title. 
    cabine_search = re.search('\d+', cabine)
    # If the title exists, extract and return it.
    if cabine_search:
        num = cabine_search.group(0)
        if np.float64(num) % 2 == 0:
            return '2'
        else:
            return '1'
    return '0'
full["Cabin"] = full["Cabin"].fillna(" ")

full["CabinType"] = full["Cabin"].apply(get_type_cabine)
print(pd.value_counts(full["CabinType"]))



#### CHILD/FEMALE ADULT/MALE ADULT------------------------------------------------------------
child_age = 18
def get_person(passenger):
    age, sex = passenger
    if (age < child_age):
        return 'child'
    elif (sex == 'female'):
        return 'female_adult'
    else:
        return 'male_adult'
full = pd.concat([full, pd.DataFrame(full[['Age', 'Sex']].apply(get_person, axis=1), columns=['person'])],axis=1)
full = pd.concat([full,pd.get_dummies(full['person'])],axis=1)

### FEATURES BASED ON TICKET   --------------------------------------------------------
table_ticket = pd.DataFrame(full["Ticket"].value_counts())
table_ticket.rename(columns={'Ticket':'Ticket_Members'}, inplace=True)

table_ticket['Ticket_perishing_women'] = full.Ticket[(full.female_adult == 1.0) 
                                    & (full.Survived == 0.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_ticket['Ticket_perishing_women'] = table_ticket['Ticket_perishing_women'].fillna(0)
table_ticket['Ticket_perishing_women'][table_ticket['Ticket_perishing_women'] > 0] = 1.0 

table_ticket['Ticket_surviving_men'] = full.Ticket[(full.male_adult == 1.0) 
                                    & (full.Survived == 1.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_ticket['Ticket_surviving_men'] = table_ticket['Ticket_surviving_men'].fillna(0)
table_ticket['Ticket_surviving_men'][table_ticket['Ticket_surviving_men'] > 0] = 1.0 

table_ticket["Ticket_Id"]= pd.Categorical(table_ticket.index).codes
# compress under 3 members into one code.
table_ticket["Ticket_Id"][table_ticket["Ticket_Members"] < 3 ] = -1
table_ticket["Ticket_Members"] = pd.cut(table_ticket["Ticket_Members"], bins=[0,1,4,20], labels=[0,1,2])

full = pd.merge(full, table_ticket, left_on="Ticket",right_index=True,how='left', sort=False)

### FEATURES BASED ON SURNAME    --------------------------------------------------------
table_surname = pd.DataFrame(full["surname"].value_counts())
table_surname.rename(columns={'surname':'Surname_Members'}, inplace=True)

table_surname['Surname_perishing_women'] = full.surname[(full.female_adult == 1.0) 
                                    & (full.Survived == 0.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_surname['Surname_perishing_women'] = table_surname['Surname_perishing_women'].fillna(0)
table_surname['Surname_perishing_women'][table_surname['Surname_perishing_women'] > 0] = 1.0 

table_surname['Surname_surviving_men'] = full.surname[(full.male_adult == 1.0) 
                                    & (full.Survived == 1.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_surname['Surname_surviving_men'] = table_surname['Surname_surviving_men'].fillna(0)
table_surname['Surname_surviving_men'][table_surname['Surname_surviving_men'] > 0] = 1.0 

table_surname["Surname_Id"]= pd.Categorical(table_surname.index).codes
# compress under 3 members into one code.
table_surname["Surname_Id"][table_surname["Surname_Members"] < 3 ] = -1

table_surname["Surname_Members"] = pd.cut(table_surname["Surname_Members"], bins=[0,1,4,20], labels=[0,1,2])

full = pd.merge(full, table_surname, left_on="surname",right_index=True,how='left', sort=False)

### AGE PROCESSING --------------------------------------------------------------------------
classers = ['Fare','Parch','Pclass','SibSp','TitleCat', 
'CabinCat','female','male', 'Embarked', 'FamilySize', 'NameLength','Ticket_Members','Ticket_Id']
etr = ExtraTreesRegressor(n_estimators=200)
X_train = full[classers][full['Age'].notnull()]
Y_train = full['Age'][full['Age'].notnull()]
X_test = full[classers][full['Age'].isnull()]
etr.fit(X_train,np.ravel(Y_train))
age_preds = etr.predict(X_test)
full['Age'][full['Age'].isnull()] = age_preds

# FEATURES -----------------------------------------------------------------------------------
features = ['female','male','Age','male_adult','female_adult', 'child','TitleCat', 'Pclass',
'Pclass','Ticket_Id','NameLength','CabinType','CabinCat', 'SibSp', 'Parch',
'Fare','Embarked','Surname_Members','Ticket_Members','FamilySize',
'Ticket_perishing_women','Ticket_surviving_men',
'Surname_perishing_women','Surname_surviving_men']

train = full[0:891].copy()
test = full[891:].copy()

selector = SelectKBest(f_classif, k=len(features))
selector.fit(train[features], target)
scores = -np.log10(selector.pvalues_)
indices = np.argsort(scores)[::-1]
print("Features importance :")
for f in range(len(scores)):
    print("%0.2f %s" % (scores[indices[f]],features[indices[f]]))
    
    
  
    


# # BEST CLASSIFIER METHOD ==> RANDOM FOREST -----------------------------------------------------
# rfc = RandomForestClassifier(n_estimators=3000, min_samples_split=4, class_weight={0:0.745,1:0.255})


# # CROSS VALIDATION WITH RANDOM FOREST CLASSIFIER METHOD-----------------------------------------
# kf = KFold(train.shape[0], n_splits=3, random_state=1)

# scores = cross_validation.cross_val_score(rfc, train[features], target, cv=kf)
# print("Accuracy: %0.3f (+/- %0.2f) [%s]" % (scores.mean()*100, scores.std()*100, 'RFC Cross Validation'))
# rfc.fit(train[features], target)
# score = rfc.score(train[features], target)
# print("Accuracy: %0.3f            [%s]" % (score*100, 'RFC full test'))
# importances = rfc.feature_importances_
# indices = np.argsort(importances)[::-1]
# for f in range(len(features)):
#     print("%d. feature %d (%f) %s" % (f + 1, indices[f]+1, importances[indices[f]]*100, features[indices[f]]))


# # PREDICTION  -----------------------------------------------------------------------------------
# rfc.fit(train[features], target)
# predictions = rfc.predict(test[features])

# # OUTPUT FILE -----------------------------------------------------------------------------------
# PassengerId =np.array(test["PassengerId"]).astype(int)
# my_prediction = pd.DataFrame(predictions, PassengerId, columns = ["Survived"])

# my_prediction.to_csv("my_prediction.csv", index_label = ["PassengerId"])

print("The end ...")

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Age Cabin Embarked     Fare  \
0  22.0   NaN        S   7.2500
1  38.0   C85        C  71.2833
2  26.0   NaN        S   7.9250
3  35.0  C123        S  53.1000
4  35.0   NaN        S   8.0500

                                                Name  Parch  PassengerId  \
0                            Braund, Mr. Owen Harris      0            1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                             Heikkinen, Miss. Laina      0            3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                           Allen, Mr. William Henry      0            5

   Pclass     Sex  SibSp  Survived            Ticket
0       3    male      1       0.0         A/5 21171
1       1  female      1       1.0          PC 17599
2       3  female      0       1.0  STON/O2. 3101282
3       1  female      1       1.0            113803
4       3    male      0       0.0            373450
               Age         Fare        Parch  PassengerId       Pclass  \
count  1046.000000  1308.000000  1309.000000  1309.000000  1309.000000
mean     29.881138    33.295479     0.385027   655.000000     2.294882
std      14.413493    51.758668     0.865560   378.020061     0.837836
min       0.170000     0.000000     0.000000     1.000000     1.000000
25%      21.000000     7.895800     0.000000   328.000000     2.000000
50%      28.000000    14.454200     0.000000   655.000000     3.000000
75%      39.000000    31.275000     0.000000   982.000000     3.000000
max      80.000000   512.329200     9.000000  1309.000000     3.000000

             SibSp    Survived
count  1309.000000  891.000000
mean      0.498854    0.383838
std       1.041658    0.486592
min       0.000000    0.000000
25%       0.000000    0.000000
50%       0.000000    0.000000
75%       1.000000    1.000000
max       8.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB
None
0    1020
2     154
1     135
Name: CabinType, dtype: int64

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Features importance :
68.85 female
68.85 male
64.90 male_adult
53.23 female_adult
26.22 TitleCat
24.60 Pclass
24.60 Pclass
23.69 NameLength
17.75 CabinCat
17.00 Ticket_surviving_men
16.28 CabinType
14.21 Fare
13.54 Ticket_perishing_women
13.04 Surname_surviving_men
10.36 Surname_perishing_women
6.94 Embarked
5.27 Ticket_Members
3.59 child
2.93 FamilySize
1.83 Parch
1.75 Age
1.07 Ticket_Id
0.73 Surname_Members
0.53 SibSp
The end ...

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
KFold?

In [46]:
scores

array([68.85199425, 68.85199425,  1.74859261, 64.89975084, 53.22777759,
        3.59380453, 26.22268452, 24.59567142, 24.59567142,  1.06993334,
       23.69319016, 16.27935205, 17.74544646,  0.5342545 ,  1.82976043,
       14.21323514,  6.94348539,  0.73162716,  5.26680435,  2.93422191,
       13.53646547, 17.00109006, 10.36066259, 13.03875574])

0      2
1      0
2      2
3      2
4      2
5      1
6      2
7      2
8      2
9      0
10     2
11     2
12     2
13     2
14     2
15     2
16     1
17     2
18     2
19     0
20     2
21     2
22     1
23     2
24     2
25     2
26     0
27     2
28     1
29     2
      ..
388    1
389    2
390    2
391    2
392    2
393    2
394    2
395    2
396    1
397    0
398    2
399    1
400    2
401    2
402    0
403    2
404    0
405    0
406    2
407    0
408    1
409    2
410    1
411    1
412    2
413    2
414    0
415    2
416    2
417    0
Name: Embarked, Length: 1309, dtype: int8

In [47]:
test

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,...,female_adult,male_adult,Ticket_Members,Ticket_perishing_women,Ticket_surviving_men,Ticket_Id,Surname_Members,Surname_perishing_women,Surname_surviving_men,Surname_Id
0,34.500000,,1,7.8292,"Kelly, Mr. James",0,892,3,male,0,...,0,1,0,0.0,0.0,-1,2,0.0,0.0,406
1,47.000000,,2,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0,893,3,female,1,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
2,62.000000,,1,9.6875,"Myles, Mr. Thomas Francis",0,894,2,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
3,27.000000,,2,8.6625,"Wirz, Mr. Albert",0,895,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
4,22.000000,,2,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,896,3,female,1,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
5,14.000000,,2,9.2250,"Svensson, Mr. Johan Cervin",0,897,3,male,0,...,0,0,0,0.0,0.0,-1,1,0.0,0.0,784
6,30.000000,,1,7.6292,"Connolly, Miss. Kate",0,898,3,female,0,...,1,0,0,0.0,0.0,-1,1,0.0,0.0,-1
7,26.000000,,2,29.0000,"Caldwell, Mr. Albert Francis",1,899,2,male,1,...,0,1,1,0.0,0.0,211,1,0.0,0.0,118
8,18.000000,,0,7.2292,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,900,3,female,0,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
9,21.000000,,2,24.1500,"Davies, Mr. John Samuel",0,901,3,male,2,...,0,1,1,0.0,0.0,714,2,0.0,0.0,195
10,25.500000,,2,7.8958,"Ilieff, Mr. Ylio",0,902,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
11,46.000000,,2,26.0000,"Jones, Mr. Charles Cresson",0,903,1,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
12,23.000000,B45,2,82.2667,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,904,1,female,1,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
13,63.000000,,2,26.0000,"Howard, Mr. Benjamin",0,905,2,male,1,...,0,1,1,0.0,0.0,-1,1,0.0,0.0,360
14,47.000000,E31,2,61.1750,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,906,1,female,1,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
15,24.000000,,0,27.7208,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,907,2,female,1,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
16,35.000000,,1,12.3500,"Keane, Mr. Daniel",0,908,2,male,0,...,0,1,0,0.0,0.0,-1,1,0.0,0.0,403
17,21.000000,,0,7.2250,"Assaf, Mr. Gerios",0,909,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
18,27.000000,,2,7.9250,"Ilmakangas, Miss. Ida Livija",0,910,3,female,1,...,1,0,0,0.0,0.0,-1,1,1.0,0.0,-1
19,45.000000,,0,7.2250,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,911,3,female,0,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
20,55.000000,,0,59.4000,"Rothschild, Mr. Martin",0,912,1,male,1,...,0,1,1,0.0,0.0,-1,1,0.0,0.0,-1
21,9.000000,,2,3.1708,"Olsen, Master. Artur Karl",1,913,3,male,0,...,0,0,0,0.0,0.0,-1,1,0.0,0.0,599
22,46.080000,,2,31.6833,"Flegenheim, Mrs. Alfred (Antoinette)",0,914,1,female,0,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
23,21.000000,,0,61.3792,"Williams, Mr. Richard Norris II",1,915,1,male,0,...,0,1,1,0.0,0.0,-1,2,0.0,0.0,857
24,48.000000,B57 B59 B63 B66,0,262.3750,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",3,916,1,female,1,...,1,0,2,0.0,0.0,824,2,0.0,0.0,698
25,50.000000,,2,14.5000,"Robins, Mr. Alexander A",0,917,3,male,1,...,0,1,1,1.0,0.0,-1,1,1.0,0.0,-1
26,22.000000,B36,0,61.9792,"Ostby, Miss. Helene Ragnhild",1,918,1,female,0,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
27,22.500000,,0,7.2250,"Daher, Mr. Shedid",0,919,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
28,41.000000,A21,2,30.5000,"Brady, Mr. John Bertram",0,920,1,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
29,23.775417,,0,21.6792,"Samaan, Mr. Elias",0,921,3,male,2,...,0,1,1,0.0,0.0,256,1,0.0,0.0,711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.000000,,1,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,...,0,1,0,0.0,0.0,-1,1,0.0,0.0,-1
389,6.000000,,2,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,...,0,0,2,1.0,0.0,541,2,1.0,0.0,613
390,23.000000,B24,2,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,...,0,1,1,0.0,0.0,86,0,0.0,0.0,-1
391,51.000000,D28,2,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
392,13.000000,,2,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,...,0,0,1,0.0,0.0,753,1,0.0,0.0,1
393,47.000000,,2,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
394,29.000000,,2,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,...,0,1,1,0.0,0.0,365,1,0.0,0.0,415
395,18.000000,C31,2,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,...,1,0,1,0.0,0.0,-1,2,0.0,0.0,752
396,24.000000,,1,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
397,48.000000,B41,0,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,...,1,0,1,0.0,1.0,-1,1,0.0,1.0,-1
398,22.000000,,2,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
399,31.000000,,1,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
400,30.000000,C7,2,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,...,1,0,1,0.0,0.0,626,1,0.0,0.0,-1
401,38.000000,,2,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,...,0,1,1,0.0,0.0,-1,1,0.0,0.0,-1
402,22.000000,,0,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,...,1,0,1,0.0,0.0,-1,1,0.0,0.0,-1
403,17.000000,,2,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,...,0,0,1,0.0,0.0,-1,1,0.0,0.0,-1
404,43.000000,D40,0,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,...,0,1,0,0.0,0.0,-1,1,0.0,1.0,266
405,20.000000,D38,0,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
406,23.000000,,2,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,...,0,1,0,0.0,0.0,-1,1,0.0,0.0,834
407,50.000000,C80,0,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,...,0,1,2,0.0,0.0,37,1,0.0,0.0,850
408,17.315000,,1,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
409,3.000000,,2,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,...,0,0,1,0.0,0.0,883,1,0.0,0.0,625
410,24.000000,,1,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
411,37.000000,C78,1,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,...,1,0,1,0.0,0.0,120,1,0.0,0.0,530
412,28.000000,,2,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,...,1,0,0,0.0,0.0,-1,0,0.0,0.0,-1
413,60.500000,,2,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
414,39.000000,C105,0,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,...,1,0,1,0.0,0.0,834,0,0.0,0.0,-1
415,38.500000,,2,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,...,0,1,0,0.0,0.0,-1,0,0.0,0.0,-1
416,34.000000,,2,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,...,0,1,0,0.0,0.0,-1,1,0.0,0.0,834
417,6.105717,,0,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,...,0,1,1,0.0,0.0,262,1,0.0,0.0,639